#card {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;
}
h2 {
  color: #ff3a4e;
}
.icons {
  color: #ff3a4e;
  size: 2em;
}

.divs {
  display: flex;
  align-items: center;
}


#button {

}
