.ActualEventPage {
    background: linear-gradient(to bottom,  #ff3a4e, #ffffff);
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    text-align: center;
    padding-top: 10px;
  }
  
  #button {
    line-height: 60%;
    
  }
  #info {
    justify-content: center;
  }
  