.ActualEventPage {
  background: linear-gradient(to bottom right, #ff3a4e,#954ae7);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  
}

.navbar {
  display: flex;
  text-align: center;
  padding-top: 10px;
}

#button {
  line-height: 60%;
}
#info {
  justify-content: center;
}
