.header {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
}

.header .leftside {
  flex: 50%;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.header .leftside .logo {
  max-height: 80px;
}

.header .leftside .logo a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.header .rightside {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8%;
}

.header .rightside .login {
  max-height: 80px;
}

.header .rightside .login a {
  position: relative;
  width: 200px;
  height: 80px;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 35px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 15px rgba(0, 191, 255, 0.5);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}
