.header {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
}

.header .leftside {
  flex: 50%;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.header .leftside .logo {
  max-height: 80px;
}

.header .leftside .logo a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: flex;
  align-items: center;
}

.header .rightside {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8%;
}

.header .rightside .loginb {
  max-height: 80px;
  padding-top: 40px;
}

.header .rightside .loginb a {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 35px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 15px rgba(196, 183, 219, 1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.effect {
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.effect span {
  display: inline-block;
  font-size: 4em;
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
